[DEFAULT]
debug = true
rootwrap_config = /etc/cinder/rootwrap.conf
api_paste_confg = /etc/cinder/api-paste.ini
iscsi_helper = lioadm
volume_name_template = volume-%s
volume_group = cinder-volumes
verbose = True
auth_strategy = keystone
state_path = /var/lib/cinder
lock_path = /var/lock/cinder
volumes_dir = /var/lib/cinder/volumes
enabled_backends = ceph
glance_api_version = 2
transport_url = rabbit://{{ rabbit_user }}:{{ rabbit_pass }}@{{ internal_ip }}:5672
my_ip = {{ internal_ip }}

[database]
connection = mysql+pymysql://cinder:{{ cinder_db_pass }}@{{ internal_ip }}:{{ mariadb_port }}/cinder
max_retries = 10
retry_interval = 10
max_pool_size = 50
max_overflow = 100
pool_timeout = 30

[keystone_authtoken]
www_authenticate_uri = http://{{ internal_ip }}:5000
auth_url = http://{{ internal_ip }}:5000
memcached_servers = {{ internal_ip }}:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = cinder
password = {{ cinder_db_pass }}

[oslo_concurrency]
lock_path = /var/lib/cinder/tmp

[ceph]
volume_driver = cinder.volume.drivers.rbd.RBDDriver
volume_backend_name = ceph
rbd_cluster_name = ceph
rbd_pool = volumes
rbd_ceph_conf = /etc/ceph/ceph.conf
rbd_flatten_volume_from_snapshot = false
rbd_max_clone_depth = 5
rbd_store_chunk_size = 4
rados_connect_timeout = -1
rbd_user = cinder
rbd_secret_uuid = {{ rbd_secret_id }}

backup_driver = cinder.backup.drivers.ceph.CephBackupDriver
backup_ceph_conf = /etc/ceph/ceph.conf
backup_ceph_user = cinder-backup
backup_ceph_chunk_size = 134217728
backup_ceph_pool = backups
backup_ceph_stripe_unit = 0
backup_ceph_stripe_count = 0
restore_discard_excess_bytes = true

[oslo_messaging_rabbit]
rabbit_retry_interval = 1
rabbit_retry_backoff = 2
rabbit_max_retries = 0
rabbit_ha_queues = true   
rabbit_durable_queues = true
rabbit_transient_queues = false
rabbit_heartbeat_timeout_threshold = 120
rabbit_heartbeat_rate = 2

[oslo_messaging_notifications]
driver = messagingv2
transport_url = rabbit://{{ rabbit_user }}:{{ rabbit_pass }}@{{ internal_ip }}:5672
topics = notifications

[nova]
interface = internal
auth_type = password

